/* Add new font weights*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EBEBEB;
    font-weight: 400;
    font-size: 14px;

}

.main-wrapper {
    
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 35%;
    margin-right: 35%;
    color: #979797;
    
}
.header {
    margin-top: 25px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #DFDFDF;
    margin-bottom:25px;
}

#highlight {
    background-color: #7d7d7d36;
}
.header article{
    margin:5px;
    text-align: left;
}
.header h3 {
    color: #DD5555;
    font-weight: bolder;
    font-size:19px;
}
.movies h3 {
    font-weight: 600;

}
.header h4 {
    font-weight: 600;
    letter-spacing: 1px;
}
.header button{
    background-color: #DD5555;
    color:white;
    margin-top:10px;
    padding:10px;
    font-weight: bold;
    border-radius: 4px;
    border: 0px;
}
.header img{
    border: 3px solid lightgray;
    width: 100px;
    border-radius: 50%;
}

.icons {
    display: block;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding:30px;
    box-shadow: 1px 1px 1px 1px #DFDFDF;
    margin-bottom:25px;
}

.icons i{
    text-align: center;
    justify-content: space-around;
}

.icons-img {
    padding-top: 10px;
    color: #cccccc;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.icons-txt {
    color: #cccccc;
    display: flex;
    justify-content: space-around;
}

.movies {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #DFDFDF;
}



.movies h5 {
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
}



.movies article{
    width: 80%;
    background-color: white;
    text-align: justify;
    padding: 40px;
    padding-left:
}

.space-odyssey img{
    display: inline;
    float: left;
    width: 90px;
    padding:12px;
}

.space-odyssey article {
    float:right;
}

.hulot img{
    display: inline;
    float: left;
    width: 100px;
    padding:10px;
}

.alien img{
    display: inline;
    float: left;
    width: 100px;
    padding:10px;
}




